<div id = "main">
  ここはgroupのshow.html.erbです
  ここで

  <!-- 参加ユーザーの一覧 -->
  <h2>参加ユーザ一覧</h2>
  <div class="contents row" >
    <%= render partial: "group_members", collection: @group_members %>
  </div>


  <!-- 習慣カレンダーの表示 -->
  <h2>カレンダー</h2>
  <div id = "calendar">
  </div>

  <!-- チャット or コメント欄の表示
  <h2>チャット機能</h2>
  <%= form_tag('/groups/pushercreate', remote: true) do %>
    <%= text_field_tag 'message' %>
    <%= submit_tag 'send', data: { disable_with: "送信中..." } %>
  <% end %>

  <div id='messagelog'></div>
-->

<!-- カレンダーへの色つけJS -->
  <script>
  $(document).ready(function() {
      $('#calendar').fullCalendar({
      })

      $(".fc-day.fc-widget-content.fc-today").click(function(){
        var newdiv = $('<li class = "newdiv">').text("just added");
        $('.fc-day.fc-widget-content.fc-today').append(newdiv);
        $('.newdiv').css("background", gon.color_array[gon.user_color_index]);
      });

  });
  </script>
<!-- カレンダーへの色つけJS終了 -->

</div>