<div class="group_list_section">
  <%= link_to "", "/groups/#{@group_datum[group_list_counter].id}", class: 'groups_list' %>
  <div class="label"><%= "#{@group_datum[group_list_counter].group_name}" %></div>
</div>


