<div id = "main">
  <h2>共有している習慣</h2>
  <%= render partial: "group_list", collection: @group_datum %>

  <div class = "group_list_section">
    <%= link_to image_tag('/assets/plus-sign_M.png', alt: '新規習慣作成', class: "new_habit"), "/groups/new", :class => "new_link" %>
    <div class="label"><%= "新規作成" %></div>
  <img src="<%= asset_path "plus-sign_M.png" %>"/>

  </div>


</div>